<html lang="html">
<head>
    <link href="{{ url_for('static', path='/css/styles.css') }}" rel="stylesheet">
    {% if not multiple_pages %}
        <link href="{{ url_for('static', path='/css/single_page.css') }}" rel="stylesheet">{% endif %}
    {% if multiple_pages %}
        <link href="{{ url_for('static', path='/css/multiple_pages.css') }}" rel="stylesheet">{% endif %}

    <title>Roster</title>
</head>


<body>
{% for unit in roster %}
    <div class="clearfix faUnitCard">
        <div class="clearfix faUnitHeader">
            <div class="faRoleIcon"></div>
            <div class="faUnitName">{{ unit.name }}</div>
        </div>

        <div class="clearfix faUnitStats">
            {% if unit.toughness %}
                <div class="clearfix faStatsHeader">
                    <div class="faStatHeader" data-stat="name">NAME</div>
                    <div class="faStatHeader" data-stat="move">M</div>
                    <div class="faStatHeader" data-stat="weaponSkill">WS</div>
                    <div class="faStatHeader" data-stat="ballisticSkill">BS</div>
                    <div class="faStatHeader" data-stat="strength">S</div>
                    <div class="faStatHeader" data-stat="toughness">T</div>
                    <div class="faStatHeader" data-stat="wounds">W</div>
                    <div class="faStatHeader" data-stat="initiative">I</div>
                    <div class="faStatHeader" data-stat="attacks">A</div>
                    <div class="faStatHeader" data-stat="leadership">Ld</div>
                    <div class="faStatHeader" data-stat="save">Sv</div>
                    <div class="faStatHeader" data-stat="Type">Type</div>
                </div>

                {% for model in unit.toughness %}
                    <div class="clearfix faStatsBody">
                        <div class="faStatBody" data-stat="name">{{ model.name }}</div>
                        <div class="faStatBody" data-stat="move">{{ model.move }}"</div>
                        <div class="faStatBody" data-stat="weaponSkill">{{ model.weapon_skill }}</div>
                        <div class="faStatBody" data-stat="ballisticSkill">{{ model.ballistic_skill }}</div>
                        <div class="faStatBody" data-stat="strength">{{ model.strength }}</div>
                        <div class="faStatBody" data-stat="toughness">{{ model.toughness }}</div>
                        <div class="faStatBody" data-stat="wounds">{{ model.wounds }}</div>
                        <div class="faStatBody" data-stat="initiative">{{ model.initiative }}</div>
                        <div class="faStatBody" data-stat="attacks">{{ model.attacks }}</div>
                        <div class="faStatBody" data-stat="leadership">{{ model.leadership }}</div>
                        <div class="faStatBody" data-stat="save">{{ model.save }}</div>
                        <div class="faStatBody" data-stat="Type">{{ model.unit_type }}</div>
                    </div>
                {% endfor %}

            {% endif %}


            {% if unit.armored %}
                <div class="clearfix faStatsHeader">
                    <div class="faStatHeader" data-stat="name">NAME</div>
                    <div class="faStatHeader" data-stat="ballisticSkill">BS</div>
                    <div class="faStatHeader" data-stat="Front">Front</div>
                    <div class="faStatHeader" data-stat="Side">Side</div>
                    <div class="faStatHeader" data-stat="Rear">Rear</div>
                    <div class="faStatHeader" data-stat="hp">Hp</div>
                    <div class="faStatHeader" data-stat="Type">Type</div>
                </div>

                {% for model in unit.armored %}
                    <div class="clearfix faStatsBody">
                        <div class="faStatBody" data-stat="name">{{ model.name }}</div>
                        <div class="faStatBody" data-stat="ballisticSkill">{{ model.ballistic_skill }}</div>
                        <div class="faStatBody" data-stat="Front">{{ model.armor_facing.front }}</div>
                        <div class="faStatBody" data-stat="Side">{{ model.armor_facing.side }}</div>
                        <div class="faStatBody" data-stat="Rear">{{ model.armor_facing.rear }}</div>
                        <div class="faStatBody" data-stat="Hp">{{ model.armor_facing.hp }}</div>
                        <div class="faStatBody" data-stat="Type">{{ model.unit_type }}</div>
                    </div>
                {% endfor %}
            {% endif %}


            {% if unit.hybrid %}
                <div class="clearfix faStatsHeader">
                    <div class="faStatHeader" data-stat="name">NAME</div>
                    <div class="faStatHeader" data-stat="weaponSkill">WS</div>
                    <div class="faStatHeader" data-stat="ballisticSkill">BS</div>
                    <div class="faStatHeader" data-stat="strength">S</div>
                    <div class="faStatHeader" data-stat="Front">Front</div>
                    <div class="faStatHeader" data-stat="Side">Side</div>
                    <div class="faStatHeader" data-stat="Rear">Rear</div>
                    <div class="faStatHeader" data-stat="initiative">I</div>
                    <div class="faStatHeader" data-stat="attacks">A</div>
                    <div class="faStatHeader" data-stat="hp">Hp</div>
                    <div class="faStatHeader" data-stat="Type">Type</div>
                </div>
                {% for model in unit.hybrid %}
                    <div class="clearfix faStatsBody">
                        <div class="faStatBody" data-stat="name">{{ model.name }}</div>
                        <div class="faStatBody" data-stat="weaponSkill">{{ model.weapon_skill }}</div>
                        <div class="faStatBody" data-stat="ballisticSkill">{{ model.ballistic_skill }}</div>
                        <div class="faStatBody" data-stat="strength">{{ model.strength }}</div>
                        <div class="faStatBody" data-stat="Front">{{ model.armor_facing.front }}</div>
                        <div class="faStatBody" data-stat="Side">{{ model.armor_facing.side }}</div>
                        <div class="faStatBody" data-stat="Rear">{{ model.armor_facing.rear }}</div>
                        <div class="faStatBody" data-stat="initiative">{{ model.initiative }}</div>
                        <div class="faStatBody" data-stat="attacks">{{ model.attacks }}</div>
                        <div class="faStatBody" data-stat="Hp">{{ model.armor_facing.hp }}</div>
                        <div class="faStatBody" data-stat="Type">{{ model.unit_type }}</div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>

        {% if unit.list_of_units[0].weapon %}
            <div class="clearfix faWeaponStats">
                <div class="clearfix faWpnsHeader">
                    <div class="faWpnHeader" data-stat="weapon">WEAPON</div>
                    <div class="faWpnHeader" data-stat="range">RANGE</div>
                    <div class="faWpnHeader" data-stat="type">TYPE</div>
                    <div class="faWpnHeader" data-stat="strength">S</div>
                    <div class="faWpnHeader" data-stat="armorPiercing">AP</div>
                </div>
                {% for name,weapon in unit.list_of_units[0].weapon.items() %}
                    <div class="clearfix faWpnsBody">
                        <div class="faWpnBody" data-stat="weapon">{{ weapon.name }}</div>
                        <div class="faWpnBody" data-stat="range">{{ weapon.range }}</div>
                        <div class="faWpnBody" data-stat="type">{{ weapon.type }}</div>
                        <div class="faWpnBody" data-stat="strength">{{ weapon.strength }}</div>
                        <div class="faWpnBody" data-stat="armorPiercing">{{ weapon.ap }}</div>
                    </div>
                {% endfor %}
            </div>
        {% endif %}

        {% if unit.list_of_units[0].wargear %}
            <div class="clearfix faAbilities">
                <div class="faSectionTitle">WARGEAR:</div>
                {% for name,gear in unit.list_of_units[0].wargear.items() %}
                    <div class="clearfix faSectionBody">
                        <span class="faAbilityName">{{ name }}:</span> {{ gear.description }}.
                    </div>
                {% endfor %}
            </div>
        {% endif %}

        <div class="clearfix faFactKeyWords">
            <div class="faSectionTitle">ABILITIES:</div>
            <div class="faSectionBody">
                {% for name,ability in unit.list_of_units[0].abilities.items() %}
                    {{ name }},
                {% endfor %}
            </div>
        </div>

    </div>
{% endfor %}

{% if rules_summary %}
    <div class="clearfix faUnitCard">
        <div class="clearfix faUnitHeader">
            <div class="faUnitName">Rules Summary</div>
        </div>
        <br>
        {% for rule in rules_summary.items() %}
            <div>
                <div class="faAbilityName ">{{ rule[0] }}: </div>
                <div class="clearfix faFactKeyWords"> {{ rule[1] }} </div>
            </div>
            <br>
        {% endfor %}
    </div>
{% endif %}

</body>
</html>