<html lang="html">
<head>
    <link href="{{ url_for('static', path='/css/styles.css') }}" rel="stylesheet">
    {% if not multiple_pages %}
        <link href="{{ url_for('static', path='/css/single_page.css') }}" rel="stylesheet">{% endif %}
    {% if multiple_pages %}
        <link href="{{ url_for('static', path='/css/multiple_pages.css') }}" rel="stylesheet">{% endif %}
    <title>Roster</title>
</head>
<body>
{% for unit in roster %}
    <div class="clearfix faUnitCard">
        <div class="clearfix faUnitHeader">
            <div class="faRoleIcon"></div>
            <div class="faUnitName">{{ unit.name }}</div>
        </div>

        <div class="clearfix faUnitStats">
            <div class="clearfix faStatsHeader">
                <div class="faStatHeader" data-stat="name">Operative</div>
                <div class="faStatHeader" data-stat="movement">M</div>
                <div class="faStatHeader" data-stat="apl">APL</div>
                <div class="faStatHeader" data-stat="ga">GA</div>
                <div class="faStatHeader" data-stat="DF">DF</div>
                <div class="faStatHeader" data-stat="save">Sv</div>
            </div>
            <div class="clearfix faStatsBody">
                <div class="faStatBody" data-stat="name">{{ unit.name }}</div>
                <div class="faStatBody" data-stat="movement">{{ unit.movement }}</div>
                <div class="faStatBody" data-stat="apl">{{ unit.apl }}</div>
                <div class="faStatBody" data-stat="ga">{{ unit.ga }}</div>
                <div class="faStatBody" data-stat="df">{{ unit.df }}</div>
                <div class="faStatBody" data-stat="save">{{ unit.save }}</div>
            </div>
        </div>
        <div class="clearfix faWeaponStats">
            <div class="clearfix faWpnsHeader">
                <div class="faWpnHeader" data-stat="weapon">Weapons</div>
                <div class="faWpnHeader" data-stat="attacks">A</div>
                <div class="faWpnHeader" data-stat="ws_or_bs">WS/BS</div>
                <div class="faWpnHeader" data-stat="damage">D</div>
                <div class="faWpnHeader" data-stat="special_rule">SR</div>
                <div class="faWpnHeader" data-stat="crit">!</div>
            </div>
            {% for name,weapon in unit.wargear.items() %}
                <div class="clearfix faWpnsBody">
                    <div class="faWpnBody" data-stat="weapon">{{ name }}</div>
                    <div class="faWpnBody" data-stat="attacks">{{ weapon.get('A') }}</div>
                    <div class="faWpnBody" data-stat="ws_or_bs">{{ weapon.get('WS/BS') }}</div>
                    <div class="faWpnBody" data-stat="damage">{{ weapon.get('D') }}</div>
                    <div class="faWpnBody" data-stat="special_rule">{{ weapon.get('SR') }}</div>
                    <div class="faWpnBody" data-stat="crit">{{ weapon.get('!') }}</div>
                </div>
            {% endfor %}
        </div>

        {% if unit.psyker_powers %}
            <div class="faPsykerHeader">
                <div class="clearfix faPsyker">
                    <div class="faSectionTitle">PSYCHIC:</div>
                    {% for name,ability in unit.psyker_powers.items() %}
                        <div class="clearfix faSectionBody">
                            <span class="faAbilityName">{{ name }}</span> {{ ability }}.
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endif %}

        {% if unit.abilities %}
            <div class="clearfix faAbilities">
                <div class="faSectionTitle">ABILITIES:</div>
                {% for name,ability in unit.abilities.items() %}
                    <div class="clearfix faSectionBody">
                        <span class="faAbilityName">{{ name }}</span> {{ ability }}.
                    </div>
                {% endfor %}
            </div>
        {% endif %}


        <div class="clearfix faFactKeyWords">
            <div class="faSectionTitle">KEYWORDS:</div>
            <div class="faSectionBody"> {% for keyword in unit.keywords %}
                {{ keyword }},
            {% endfor %}
            </div>
        </div>

    </div>
{% endfor %}
</body>
</html>