dist: xenial
language: python
python:
  - "3.7"
before_script:
  - curl -L https://codeclimate.com/downloads/test-reporter/test-reporter-latest-linux-amd64 > ./cc-test-reporter
  - chmod +x ./cc-test-reporter
  - ./cc-test-reporter before-build
install:
  - pip install pipenv
  - pipenv install --dev
script:
  - pipenv run pytest --cov=app app
after_script:
  - ./cc-test-reporter after-build --exit-code $TRAVIS_TEST_RESULT