[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
pytest = "*"
pytest-cov = "*"
pytest-sugar = "*"
v = {editable = true,version = "*"}

[packages]
beautifulsoup4 = "==4.7.1"
lxml = "==4.3.4"
weasyprint = "==49"
jinja2 = "==2.10.1"
fastapi = "==0.38.1"
uvicorn = "==0.9.0"
aiofiles = "==0.4.0"
requests = "==2.22.0"

[requires]
python_version = "3.7"
