[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
pytest = "*"
ipython = "*"
pytest-cov = "*"

[packages]
beautifulsoup4 = "==4.7.1"
lxml = "==4.3.3"
flask = "==1.0.2"
pillow = "==5.4.1"

[requires]
python_version = "3.7"
