[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
pytest = "*"
pytest-cov = "*"
pytest-sugar = "*"
v = {editable = true,version = "*"}

[packages]
beautifulsoup4 = "==4.7.1"
lxml = "==4.3.4"
weasyprint = "*"
jinja2 = "*"
fastapi = "*"
uvicorn = "*"
aiofiles = "*"
requests = "*"

[requires]
python_version = "3.7"
