<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Dataslate</title>
</head>
<body id="page-top">

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="">Dataslate</a>
    </div>
</nav>

<header class="bg-primary text-white">
    <div class="container text-center">
        <h1>Dataslate</h1>
        <p class="lead">Currently supported battlescribe version 2.03+ </p>
    </div>
</header>


<section id="services" class="bg-light">
    <div class="container">
        <div class="row">
            <div class="uploader">
                <h1>{{ msg }}</h1>
                <p>
                    The one stop shop for creating printer friendly outputs for battlescribe lists
                </p>
                <p>
                    <b> Currently supported game types are: </b>
                </p>

                <ul>
                    <li>Killteam</li>
                    <li>Warhammer 30k / Horus Heresy</li>
                </ul>

                <p>
                    <b>Coming Soon: </b>
                </p>

                <ul>
                    <li> Warhammer 40k</li>
                    <li> Age of Sigmar</li>
                </ul>

                <form enctype="multipart/form-data" method="post" name="file" action="files/">
                    <label>
                        <input type="hidden" name="multiple_pages" value="False"/>
                        <input type="checkbox" name="multiple_pages" value="True">
                    </label> Separate page per entry<br>

                    <label>
                        <input type="hidden" name="summary_page" value="False"/>
                        <input type="checkbox" name="summary_page" value="True">
                    </label>Rules Summary Page<br>

                    <label>Upload roster: </label>
                    <input type="file" name="file" accept=".ros, .rosz" required/>
                    <input type="submit" value="upload the roster"/>
                </form>
            </div>
        </div>
    </div>
</section>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>